<div class="container">
  <h2>Hey Guys, This is a Social App!</h2>
  <p>Please enter your name and message below:</p>

  <div class="message-form">
    <input type="text" [(ngModel)]="newMessage.name" placeholder="Your Name" />
    <input type="text" [(ngModel)]="newMessage.text" placeholder="Your Message" />
    <button (click)="sendMessage()">Send</button>
  </div>

  <h3>All Messages:</h3>
  <div class="message-list">
    <div *ngFor="let msg of messages" class="message">
      <strong>{{ msg.name }}:</strong> {{ msg.text }}
    </div>
  </div>
</div>
